<section class="order about">
    <div class="container">
        <div class="">
            <div class="order-text-title double-title">
                <span>Лучшая</span> итальянская пиццерия!
            </div>
            <div class="order-text-message" id="delivery">
                Добро пожаловать в "La Piazza Italiana"! Насладитесь самой изысканной итальянской пиццей в аутентичной
                атмосфере Италии прямо здесь, в нашей уютной пиццерии. "La Piazza Italiana" - это место, где традиция и
                стиль встречаются, чтобы предложить вам незабываемый вкус итальянской кухни. Созданная с использованием
                только самых свежих и качественных ингредиентов, каждая наша пицца — это настоящий кулинарный шедевр,
                который оживляет ваши вкусовые рецепторы и переносит вас в солнечную Италию. Мы приглашаем вас отведать
                наши уникальные пиццы, где каждый кусочек пропитан итальянским вкусом и уютом. Добро пожаловать в "La
                Piazza Italiana" - место, где каждый шаг — это шаг в мир подлинной итальянской гастрономии! Buon
                appetito!
            </div>
        </div>
        <div class="about-image">
            <img src="../../../../assets/img/pizza_big.png" alt="pizza">
            <img src="../../../../assets/img/pizza_big.png" alt="pizza">
        </div>
    </div>
</section>